$primary-color: #4078c0
$pointer : pointer

.repo-name
  text-transform: uppercase
  color: $primary-color

li
  list-style-type: none

.pagination-items
  position: relative
  top : 100px
  margin-left: 500px

.disabled-button
  opacity: 0.65
  cursor: not-allowed

.repo-icons
  font-size: 16px!important
  vertical-align: baseline!important
  margin-left: 20px!important
  margin-top: 8px!important
  cursor: $pointer

.repo-items
  cursor: $pointer

.repo-heading
  font-size: 30px
  text-align: center
