@import variables
@import "bourbon/bourbon"
@import "bulma"


=border-radius($radius)
  -webkit-border-radius : $radius
  -moz-border-radius: $radius
  border-radius: $radius

=box-shadow($x...)
  box-shadow: $x

.cursor-pointer
  cursor: $pointer
  color : #ffff00
  letter-spacing: 1px

.search-button
  @include button(shiny, #ff0000)


.go-to
  color: blue!important

.repo-name
  text-transform: uppercase
  color: $primary-color

.repo-items
  height: 60px
  margin-top: 10px
  @extend .cursor-pointer
  @include background(linear-gradient(red, purple) left repeat)


  pre
  li
    list-style-type: none
    margin-left: 0px
    padding-right: 30px
  i
    @extend .cursor-pointer
    font-size: 16px!important
    margin-left:80px!important
    $position: relative !global
    position: $position
    top: 15px + 2px

.pagination-items
  position: $position
  top : 100px
  margin-left: 900px/3px + 200px

.disabled-button
  opacity: 0.65
  cursor: not-allowed

.repo-heading
  font-size: 30px
  text-align: center

.repo-box
  height: 150px
  margin-top: 20px
  +box-shadow(10px 10px 5px #888888!important)


input
  @include border-color(red)
  @include border-radius(5px)
  @include border-style(dashed)
  @include placeholder
    color: red

.bourbon-flex
  width: flex-grid(4)
  margin-left: flex-gutter()
