<center>
      <div>
        <h2 class="text-normal glyphicon glyphicon-search"> Click to display Bootstrap Repos</h2>
          <div class="input-group">
              {{#link-to "search"}}
              <button class="btn btn-default" type="button" value=name>Click Here</button>
              {{/link-to}}
          </div>
      </div>
    </center>
{{outlet}}
